html {
    font-size: 10px;
    overflow-x: hidden;
    body {
        overflow-x: hidden;
        font-family: $hind;
        background-color: $grayb;
    }
}
p {
    font-size: 1.4rem;
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
