#mainFooter {
    background-color: $graya;
    padding-top: 100px;
    color: #ffffff;
    .container {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        padding-bottom: 70px;

    }
    footer {
        padding: 0 60px;
        p {
            font-size: 2.4rem;
            line-height: 1.4;
            @media all and (max-width: 992px) {
                font-size: 1.3rem;
            }
        }
        @media all and (max-width: 992px) {
            padding: 0 30px;
        }
    }
    h5 {
        font-size: 5.5rem;
        color: #ffffff;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 30px;
        @media all and (max-width: 992px) {
            font-size: 3.2rem;
            margin-top: 30px;
        }
    }
    form {
        input[type="email"] {
            width: 100%;
            background-color: transparent;
            border: 1px solid #ffffff;
            padding: 5px 10px;
            font-size: 1.8rem;


        }
        input[type="text"] {
            width: 100%;
            background-color: transparent;
            border: 1px solid #ffffff;
            padding: 5px 10px;
            font-size: 1.8rem;


        }
        button {
            background-color: transparent;
            background-image: none;
            padding: 5px 15px;
            margin: 15px 0;
            border: 1px solid #ffffff;
            font-size: 1.8rem;

        }
    }
    .socialMedia {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            a {
                display: block;
                padding: 10px 10px 10px 0;
                @media all and (max-width: 992px) {
                    padding: 20px 10px 20px 0;
                }
            }
        }
    }
}
