#about {
    .container {
        background-image: url('../img/tlo_szare.png');
        background-size: cover;
    }
    .aboutText {
        padding-top: 90px;
        padding-bottom: 180px;

        @media all and (max-width: 992px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .innerAbout {
            background-color: $grayc;
            padding: 40px 80px;
            @media all and (max-width: 992px) {
                padding: 20px;
            }
            p {
                font-size: 3rem;
                line-height: 1.6;
                color: #ffffff;
                @media all and (max-width: 992px) {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }
        }

    }
}
#proces {
    color: #ffffff;
    #dotContainer {
        position: relative;
        width: 100%;
        overflow: visible;
        .dotys {
            position: absolute;
            width: 100vw;
            margin: 0 auto;
            top: 0;
            background-image: url(../img/kropy.png);
            height: 55px;
            overflow: visible;
            background-repeat: repeat-x;
            background-position: left center;
            @media all and (max-width: 992px) {
                background-image: url(../img/kropy_small.png);
                height: 35px;
                background-repeat: repeat-x;
            }
        }
    }
    #dotContainerSd {
        position: relative;
        width: 100%;
        overflow: visible;
        .dotys {
            position: absolute;
            width: 100vw;
            margin: 0 auto;
            top: 360px;
            background-image: url(../img/kropy.png);
            height: 55px;
            overflow: visible;
            background-repeat: repeat-x;
            background-position: left center;
            @media all and (max-width: 992px) {
                background-image: url(../img/kropy_small.png);
                height: 35px;
                background-repeat: repeat-x;
                display: none;
            }
        }
    }
    .proces {
        min-height: 360px;
        @media all and (max-width: 992px) {
            min-height: auto;
        }
    }
    .circle {
        width: 55px;
        height: 55px;
        background-color: #ffffff;
        border-radius: 50%;
        color: $grayc;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        @media all and (max-width: 992px) {
            width: 35px;
            height: 35px;
            font-size: 2rem;
        }
    }
    .container {
        padding-top: 100px;
        padding-bottom: 170px;
        background-color: $grayc;
        @media all and (max-width: 992px) {
            font-size: 2.2rem;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    h2 {
        font-size: 5.5rem;
        font-weight: 700;
        color: #ffffff;
        display: inline-block;
        position: relative;
        margin-bottom: 110px;
        &:after {
            content: url(../img/kropy.png);
            position: absolute;
            bottom: 0;
            left: 105%;
            overflow: visible;
        }
        @media all and (max-width: 992px) {
            font-size: 2.4rem;
            margin-bottom: 40px;
            &:after {
                content: url(../img/kropy_small.png);
            }
        }
    }
    h3 {
        font-size: 2.8rem;
        font-weight: 600;
        @media all and (max-width: 992px) {
            font-size: 2.2rem;
        }
    }
    p {
        line-height: 1.34;
        font-size: 1.8;
        font-weight: 500;
        @media all and (max-width: 992px) {
            font-size: 1.5rem;
        }
    }
}
#products {
    background-size: cover;
    #slide {
        padding-left: 0;
        padding-right: 0;
    }
    .prod {
        min-height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        padding: 30px;
        .bgr {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                display: none;
            }
            @media all and (max-width: 992px) {
                position: static;
                display: block;
                min-height: auto;
                background-image: none;
                img {
                    display: block;
                }
            }
        }
        @media all and (max-width: 992px) {
            padding: 0;
            min-height: auto;
        }
        @media all and (max-width: 992px) {
            font-size: 1.5rem;
            justify-content: flex-end;
        }
        .layerText {
            background-color: #ffffff;
            padding: 50px 30px 70px 30px;
            width: 360px;
            max-width: 100%;
            position: relative;
            h3 {
                font-size: 55px;
                color: #000000;
            }
            p {
                font-size: 2.4rem;
                line-height: 1.4;
            }
            @media all and (max-width: 992px) {
                font-size: 1.5rem;
                width: 100%;
                padding: 20px;
                h3 {
                    font-size: 2.4rem;
                    color: #000000;
                }
                p {
                    font-size: 1.8rem;
                    line-height: 1.4;
                }
            }

        }
        .layerContent {
            background-color: #ffffff;
            padding: 15px 30px;
            width: 620px;
            max-width: 100%;
            margin-left: auto;
            margin-top: 60px;
            position: relative;
            display: none;
            @media all and (max-width: 992px) {
                font-size: 1.5rem;
                width: 100%;
                margin: 0;
                border-top: 10px solid $graya;
            }
            dl.ingredients {
                width: 100%;
                border: 1px solid #000000;
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                margin-bottom: 0;


                dt {

                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    border-right: 1px solid #000000;
                    font-size: 1.2rem;
                    font-weight: 300;

                }
                #ico {
                    border: none;
                    border-left: 1px solid #000000;
                    display: block;
                    img {
                        display: block;
                        padding: 0 10px;
                    }

                }
                dd {
                    padding: 15px;
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    font-size: 1.2rem;
                    font-weight: 300;
                    span {
                        &:after {
                            content: '\\';
                            padding: 0 5px;
                        }
                        &:last-child {
                            &:after {
                                content: '';
                                padding: 0 5px;
                            }
                        }
                    }
                }

            }
        }
    }

}
#delivery {
    color: #343434;

    .centki {

        display: block;
        width: 100%;
        .row {
        height: 120px;
        background-image: url('../img/centki.png');
        background-size: cover;
            @media all and (max-width: 992px) {
                height: 60px;
                background-image: url('../img/centki.png');
            }
        }
    }
    .sweet {
        padding-top: 80px;
        padding-bottom: 60px;
        background-color: #ffffff;
        h3 {
            font-size: 1.9rem;
            font-weight: 300;
            //text-transform: uppercase;
            text-align: center;
            color: #343434;
            @media all and (max-width: 992px) {
                font-size: 2.2rem;
            }

        }
        .graf {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 60px;
            @media all and (max-width: 992px) {
                flex-direction: column;
            }
            hr {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
            }
            figure {
                position: relative;
                padding: 80px 0;
                width: 200px;
                figcaption {
                    //position: absolute;
                    width: 100%;
                    padding-top: 40px;
                    //bottom: 0px;
                    //left: 0;
                    text-align: center;
                    font-size: 2.4rem;
                }
                @media all and (max-width: 992px) {
                    padding-bottom: 20px;
                    figcaption {
                        top: 0;
                        bottom: auto;
                        font-size: 1.8rem;
                    }
                }
                &:nth-child(2) {
                    figcaption {
                        //position: absolute;
                        width: 100%;
                        //bottom: 0px;
                        //top: 0;
                        text-align: center;
                    }
                    @media all and (max-width: 992px) {
                        flex-direction: column;
                        padding-bottom: 120px;
                        padding-top: 20px;
                        figcaption {
                            top: auto;
                            bottom: 40px;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}
.deliveryContainer {

    margin-top: 70px;
    section {
        display: flex;
        @media all and (max-width: 992px) {
            flex-direction: column;
        }
        .delivery {
            background-color: #62625f;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 40px 15px;
            flex: 0 0 33.3332%;
            h5 {
                //display: inline-block !important;
                background-color: #838487;
                color: #62625f;
                padding: 10px 20px;
                font-size: 3rem;
                text-align: center;
                width: auto;
                max-width: auto;
                font-weight: 600;
            }
            p {
                font-size: 2.4rem;
                color: #838487;
                text-align: center;
                line-height: 1.4;
            }

        }

    }
}
