#mainHeader {
    background-color: $graya;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    position: relative;
    #mainNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0; 

        #ham {
            display: none;
            @media all and (max-width: 992px) {
                display: block;
            }
        }
        .menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            @media all and (max-width: 992px) {
                display: none;
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                background-color: $grayb;
            }
            li {
                display: inline-block;
                @media all and (max-width: 992px) {
                    display: block;
                }
                a {
                    color: #ffffff;
                    display: block;
                    text-transform: uppercase;
                    padding: 15px 25px;
                    @media all and (max-width: 992px) {
                        text-align: center;
                    }

                }
                &:last-child {
                    a {
                        padding-right: 0;
                        @media all and (max-width: 992px) {
                            padding: 15px 25px;
                        }
                    }

                }
            }
        }
    }
}
